.banner-section {
    @apply flex flex-col space-y-5 lg:flex-row;
    .banner-col {
        @apply flex flex-1 ;
    }
    .col-1 {
        @apply flex-col items-center text-center pt-10 lg:items-start lg:pt-40 lg:text-left;
    }
    .banner-col-1-content {
        @apply px-4 lg:max-w-lg;
        .btn-primary {
            @apply mt-8 lg:mt-10;
        }
    }

    .banner-title {
        @apply pt-2 pb-3 text-4xl font-bold max-w-xs mx-auto lg:text-6xl lg:max-w-none lg:pb-6 lg:leading-tight;
    }

    .banner-description {
        @apply text-xl leading-8;
    }

    .col-2 {
        @apply flex flex-row flex-1 justify-center pt-10 lg:pt-0;
    }

    .banner-logo {
        @apply w-full md:max-w-lg lg:max-w-full;
    }

    .app-logos {
        margin-top: 20px;
        display: flex; justify-content: center; height:50px;
    }

    @media (min-width: 1024px) {
        .app-logos {
            margin-top: 20px;
            display: flex; justify-content: left; height:50px;
        }
    }
}